{{#isFormParam}}{{#notFile}}{{{dataType}}} {{paramName}}{{/notFile}}{{#isFile}}java.io.InputStream {{paramName}}, org.glassfish.jersey.media.multipart.FormDataContentDisposition {{paramName}}Detail{{/isFile}}{{/isFormParam}}