{{>licenseInfo}}
package {{package}};

{{#imports}}import {{import}};
{{/imports}}

import org.foodauthent.common.exception.FAExceptions;

{{#operations}}
/**
 * {{tagDescription}}
 *
 {{>authors}}
 */
{{>generatedAnnotation}}
public interface {{classname}} {

    {{#operation}}
    /**
     * {{#notes}}{{.}}{{/notes}}
     *
     {{#allParams}}
     * @param {{paramName}} {{description}}
     {{/allParams}}
     *
     * {{#returnType}}@return the result{{/returnType}}
     {{#vendorExtensions.x-fa-exceptions}}
     * @throws {{name}} {{description}}
     {{/vendorExtensions.x-fa-exceptions}}
     */
    {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{nickname}}({{#allParams}}{{>serviceQueryParams}}{{>servicePathParams}}{{>serviceHeaderParams}}{{>serviceBodyParams}}{{>serviceFormParams}}{{^-last}}, {{/-last}}{{/allParams}}){{>throwsException}};
        
    {{/operation}}
}
{{/operations}}
