{{#vendorExtensions.x-fa-exceptions.0}} throws {{/vendorExtensions.x-fa-exceptions.0}}{{#vendorExtensions.x-fa-exceptions}}FAExceptions.{{name}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-fa-exceptions}}