<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Equinox-Oxygen" sequenceNumber="141">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.knime.features.enterprise.client.exampleserver.feature.group" version="0.0.0"/>
<unit id="com.knime.features.enterprise.client.feature.group" version="0.0.0"/>
<unit id="com.knime.features.enterprise.server.rest.feature.group" version="0.0.0"/>
<unit id="com.knime.features.enterprise.server.ws.client.feature.group" version="0.0.0"/>
<unit id="com.knime.features.enterprise.slave.feature.group" version="0.0.0"/>
<unit id="com.knime.features.explorer.serverspace.feature.group" version="0.0.0"/>
<unit id="com.knime.features.licenses.feature.group" version="0.0.0"/>
<unit id="com.knime.features.pmml.compilation.java.jario.feature.group" version="0.0.0"/>
<unit id="com.knime.features.reportbatch.feature.group" version="0.0.0"/>
<unit id="com.knime.features.reporting.designer.feature.group" version="0.0.0"/>
<unit id="com.knime.features.reporting.runtime.feature.group" version="0.0.0"/>
<unit id="com.knime.features.workbench.repository.custom.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.source.feature.group" version="0.0.0"/>
<unit id="org.glassfish.javax.json" version="0.0.0"/>
<unit id="org.knime.features.base.feature.group" version="0.0.0"/>
<unit id="org.knime.features.base.filehandling.feature.group" version="0.0.0"/>
<unit id="org.knime.features.base.pmml.feature.group" version="0.0.0"/>
<unit id="org.knime.features.base.pmml.translation.feature.group" version="0.0.0"/>
<unit id="org.knime.features.base.pmml2.feature.group" version="0.0.0"/>
<unit id="org.knime.features.base.source.feature.group" version="0.0.0"/>
<unit id="org.knime.features.base.widedata.feature.group" version="0.0.0"/>
<unit id="org.knime.features.bigdata.connectors.feature.group" version="0.0.0"/>
<unit id="org.knime.features.build.feature.group" version="0.0.0"/>
<unit id="org.knime.features.chem.types.feature.group" version="0.0.0"/>
<unit id="org.knime.features.cluster.feature.group" version="0.0.0"/>
<unit id="org.knime.features.datageneration.feature.group" version="0.0.0"/>
<unit id="org.knime.features.distmatrix.feature.group" version="0.0.0"/>
<unit id="org.knime.features.expressions.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.exttool.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.itemset.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.jep.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.jfreechart.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.libsvm.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.lucene.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.md.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.perl.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.svg.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.webservice.client.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.webservice.client.ppilot.feature.group" version="0.0.0"/>
<unit id="org.knime.features.externals.feature.group" version="0.0.0"/>
<unit id="org.knime.features.jpmml.feature.group" version="0.0.0"/>
<unit id="org.knime.features.js.quickforms.feature.group" version="0.0.0"/>
<unit id="org.knime.features.js.views.feature.group" version="0.0.0"/>
<unit id="org.knime.features.json.feature.group" version="0.0.0"/>
<unit id="org.knime.features.json.source.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.jep.feature.group" version="0.0.0"/>
<unit id="org.knime.features.ext.jep.source.feature.group" version="0.0.0"/>
<unit id="org.knime.features.mongodb.feature.group" version="0.0.0"/>
<unit id="org.knime.features.neighborgram.feature.group" version="0.0.0"/>
<unit id="org.knime.features.network.distmatrix.feature.group" version="0.0.0"/>
<unit id="org.knime.features.network.feature.group" version="0.0.0"/>
<unit id="org.knime.features.optimization.feature.group" version="0.0.0"/>
<unit id="org.knime.features.personalproductivity.feature.group" version="0.0.0"/>
<unit id="org.knime.features.python2.feature.group" version="0.0.0"/>
<unit id="org.knime.features.python2.source.feature.group" version="0.0.0"/>
<unit id="org.knime.features.r.feature.group" version="0.0.0"/>
<unit id="org.knime.features.rest.feature.group" version="0.0.0"/>
<unit id="org.knime.features.scm.git.feature.group" version="0.0.0"/>
<unit id="org.knime.features.sdk.feature.group" version="0.0.0"/>
<unit id="org.knime.features.semanticweb.feature.group" version="0.0.0"/>
<unit id="org.knime.features.virtual.feature.group" version="0.0.0"/>
<unit id="org.knime.features.wizard.feature.group" version="0.0.0"/>
<unit id="org.knime.features.xml.feature.group" version="0.0.0"/>
<unit id="org.knime.product.desktop" version="0.0.0"/>
<unit id="org.knime.product.desktop.feature.group" version="0.0.0"/>
<unit id="org.knime.targetPlatform.feature.group" version="0.0.0"/>
<repository location="http://update.knime.com/analytics-platform/3.6"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="0.0.0"/>
<unit id="ch.qos.logback.classic.source" version="0.0.0"/>
<unit id="ch.qos.logback.core" version="0.0.0"/>
<unit id="ch.qos.logback.core.source" version="0.0.0"/>
<unit id="com.amazonaws.nos-osgi" version="0.0.0"/>
<unit id="com.auth0.java-jwt" version="0.0.0"/>
<unit id="com.auth0.java-jwt.feature.feature.group" version="0.0.0"/>
<unit id="com.auth0.java-jwt.feature.source.feature.group" version="0.0.0"/>
<unit id="com.auth0.java-jwt.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="0.0.0"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="0.0.0"/>
<unit id="com.fasterxml.jackson.core.jackson-core.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="0.0.0"/>
<unit id="com.fasterxml.jackson.core.jackson-databind.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-cbor" version="0.0.0"/>
<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-cbor.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-smile" version="0.0.0"/>
<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-smile.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml" version="0.0.0"/>
<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava" version="0.0.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-jdk8" version="0.0.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-jdk8.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-jsr310" version="0.0.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-jsr310.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-jsr353" version="0.0.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-jsr353.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.feature.feature.group" version="0.0.0"/>
<unit id="com.fasterxml.jackson.feature.source.feature.group" version="0.0.0"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="0.0.0"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="0.0.0"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="0.0.0"/>
<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations.source" version="0.0.0"/>
<unit id="com.github.rholder.guava-retrying" version="0.0.0"/>
<unit id="com.github.rholder.guava-retrying.source" version="0.0.0"/>
<unit id="com.google.errorprone.error_prone_annotations" version="0.0.0"/>
<unit id="com.google.feature.feature.group" version="0.0.0"/>
<unit id="com.google.gson" version="0.0.0"/>
<unit id="com.google.gson.source" version="0.0.0"/>
<unit id="com.google.guava" version="0.0.0"/>
<unit id="com.google.guava.failureaccess" version="0.0.0"/>
<unit id="com.google.guava.listenablefuture" version="0.0.0"/>
<unit id="com.google.guava.source" version="0.0.0"/>
<unit id="com.google.http-client.google-http-client" version="0.0.0"/>
<unit id="com.google.http-client.google-http-client-xml" version="0.0.0"/>
<unit id="com.google.j2objc.annotations" version="0.0.0"/>
<unit id="com.googlecode.json-simple" version="0.0.0"/>
<unit id="com.googlecode.json-simple.source" version="0.0.0"/>
<unit id="com.noscendo.amazonaws.feature.feature.group" version="0.0.0"/>
<unit id="com.typesafe.config" version="0.0.0"/>
<unit id="com.typesafe.config.source" version="0.0.0"/>
<unit id="com.typesafe.feature.feature.group" version="0.0.0"/>
<unit id="com.typesafe.feature.source.feature.group" version="0.0.0"/>
<unit id="de.binfalse.BFLog" version="0.0.0"/>
<unit id="de.binfalse.BFLog.source" version="0.0.0"/>
<unit id="de.unirostock.sems.CombineArchive" version="0.0.0"/>
<unit id="de.unirostock.sems.feature.feature.group" version="0.0.0"/>
<unit id="de.unirostock.sems.feature.source.feature.group" version="0.0.0"/>
<unit id="io.minio.feature.feature.group" version="0.0.0"/>
<unit id="io.minio.osgi" version="0.0.0"/>
<unit id="io.swagger.annotations" version="0.0.0"/>
<unit id="io.swagger.annotations.source" version="0.0.0"/>
<unit id="io.swagger.feature.feature.group" version="0.0.0"/>
<unit id="io.swagger.feature.source.feature.group" version="0.0.0"/>
<unit id="javassist" version="0.0.0"/>
<unit id="javassist.source" version="0.0.0"/>
<unit id="javax.annotation-api" version="0.0.0"/>
<unit id="javax.annotation-api.source" version="0.0.0"/>
<unit id="javax.inject.repackage" version="0.0.0"/>
<unit id="javax.json-api" version="0.0.0"/>
<unit id="javax.json-api.source" version="0.0.0"/>
<unit id="javax.validation.api" version="0.0.0"/>
<unit id="javax.validation.api.source" version="0.0.0"/>
<unit id="javax.ws.rs-api" version="0.0.0"/>
<unit id="javax.ws.rs-api.source" version="0.0.0"/>
<unit id="joda-time" version="0.0.0"/>
<unit id="joda-time.source" version="0.0.0"/>
<unit id="junit" version="0.0.0"/>
<unit id="junit.source" version="0.0.0"/>
<unit id="log4j.over.slf4j" version="0.0.0"/>
<unit id="log4j.over.slf4j.source" version="0.0.0"/>
<unit id="org.apache.commons.codec" version="0.0.0"/>
<unit id="org.apache.commons.codec.source" version="0.0.0"/>
<unit id="org.apache.commons.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.commons.feature.source.feature.group" version="0.0.0"/>
<unit id="org.apache.commons.logging" version="0.0.0"/>
<unit id="org.apache.commons.logging.source" version="0.0.0"/>
<unit id="org.apache.httpcomponents.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.httpcomponents.feature.source.feature.group" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpasyncclient" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpasyncclient.source" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpclient" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore-nio" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore-nio.source" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="0.0.0"/>
<unit id="org.apacheds.api-all" version="0.0.0"/>
<unit id="org.apacheds.feature.feature.group" version="0.0.0"/>
<unit id="org.apacheds.feature.source.feature.group" version="0.0.0"/>
<unit id="org.apiguardian" version="0.0.0"/>
<unit id="org.checkerframework.checker-qual" version="0.0.0"/>
<unit id="org.codehaus.mojo.animal-sniffer-annotations" version="0.0.0"/>
<unit id="org.elasticsearch.client.feature.feature.group" version="0.0.0"/>
<unit id="org.elasticsearch.client.rest" version="0.0.0"/>
<unit id="org.glassfish.hk2.api" version="0.0.0"/>
<unit id="org.glassfish.hk2.api.source" version="0.0.0"/>
<unit id="org.glassfish.hk2.external.aopalliance-repackaged" version="0.0.0"/>
<unit id="org.glassfish.hk2.external.aopalliance-repackaged.source" version="0.0.0"/>
<unit id="org.glassfish.hk2.feature.feature.group" version="0.0.0"/>
<unit id="org.glassfish.hk2.feature.source.feature.group" version="0.0.0"/>
<unit id="org.glassfish.hk2.locator" version="0.0.0"/>
<unit id="org.glassfish.hk2.locator.source" version="0.0.0"/>
<unit id="org.glassfish.hk2.osgi-resource-locator" version="0.0.0"/>
<unit id="org.glassfish.hk2.osgi-resource-locator.source" version="0.0.0"/>
<unit id="org.glassfish.hk2.utils" version="0.0.0"/>
<unit id="org.glassfish.hk2.utils.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.connectors.jersey-apache-connector" version="0.0.0"/>
<unit id="org.glassfish.jersey.connectors.jersey-apache-connector.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.containers.jersey-container-servlet" version="0.0.0"/>
<unit id="org.glassfish.jersey.containers.jersey-container-servlet-core" version="0.0.0"/>
<unit id="org.glassfish.jersey.containers.jersey-container-servlet-core.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.containers.jersey-container-servlet.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.core.jersey-client" version="0.0.0"/>
<unit id="org.glassfish.jersey.core.jersey-client.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.core.jersey-common" version="0.0.0"/>
<unit id="org.glassfish.jersey.core.jersey-server" version="0.0.0"/>
<unit id="org.glassfish.jersey.core.jersey-server.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.ext.jersey-entity-filtering" version="0.0.0"/>
<unit id="org.glassfish.jersey.ext.jersey-entity-filtering.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.ext.jersey-proxy-client" version="0.0.0"/>
<unit id="org.glassfish.jersey.ext.jersey-proxy-client.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.feature.feature.group" version="0.0.0"/>
<unit id="org.glassfish.jersey.feature.source.feature.group" version="0.0.0"/>
<unit id="org.glassfish.jersey.inject.jersey-hk2" version="0.0.0"/>
<unit id="org.glassfish.jersey.inject.jersey-hk2.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.media.jersey-media-json-jackson" version="0.0.0"/>
<unit id="org.glassfish.jersey.media.jersey-media-json-jackson.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.media.jersey-media-multipart" version="0.0.0"/>
<unit id="org.glassfish.jersey.media.jersey-media-multipart.source" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.hamcrest.core.source" version="0.0.0"/>
<unit id="org.jdom.2" version="0.0.0"/>
<unit id="org.jdom.2.source" version="0.0.0"/>
<unit id="org.joda.time.feature.feature.group" version="0.0.0"/>
<unit id="org.joda.time.feature.source.feature.group" version="0.0.0"/>
<unit id="org.json4s.osgi_2.12" version="0.0.0"/>
<unit id="org.jsr-305" version="0.0.0"/>
<unit id="org.junit" version="0.0.0"/>
<unit id="org.junit.jupiter.api" version="0.0.0"/>
<unit id="org.junit.jupiter.engine" version="0.0.0"/>
<unit id="org.junit.jupiter.migrationsupport" version="0.0.0"/>
<unit id="org.junit.jupiter.params" version="0.0.0"/>
<unit id="org.junit.platform.commons" version="0.0.0"/>
<unit id="org.junit.platform.engine" version="0.0.0"/>
<unit id="org.junit.platform.launcher" version="0.0.0"/>
<unit id="org.junit.platform.runner" version="0.0.0"/>
<unit id="org.junit.platform.suite.api" version="0.0.0"/>
<unit id="org.junit.vintage.engine" version="0.0.0"/>
<unit id="org.junit5.feature.feature.group" version="0.0.0"/>
<unit id="org.jvnet.mimepull" version="0.0.0"/>
<unit id="org.jvnet.mimepull.source" version="0.0.0"/>
<unit id="org.ldaptive.osgi" version="0.0.0"/>
<unit id="org.ldaptive.osgi.feature.feature.group" version="0.0.0"/>
<unit id="org.ldaptive.osgi.feature.source.feature.group" version="0.0.0"/>
<unit id="org.ogce.xpp3" version="0.0.0"/>
<unit id="org.opentest4j" version="0.0.0"/>
<unit id="org.scala-lang.feature.feature.group" version="0.0.0"/>
<unit id="org.scala-lang.feature.source.feature.group" version="0.0.0"/>
<unit id="org.scala-lang.scala-library" version="0.0.0"/>
<unit id="org.scala-lang.scala-library.source" version="0.0.0"/>
<unit id="org.scala-lang.scala-reflect" version="0.0.0"/>
<unit id="org.scala-lang.scala-reflect.source" version="0.0.0"/>
<unit id="org.slf4j.feature.feature.group" version="0.0.0"/>
<unit id="org.slf4j.feature.source.feature.group" version="0.0.0"/>
<unit id="org.slf4j.osgi-over-slf4j" version="0.0.0"/>
<unit id="org.slf4j.osgi-over-slf4j.source" version="0.0.0"/>
<unit id="org.yaml.snakeyaml" version="0.0.0"/>
<unit id="org.yaml.snakeyaml.source" version="0.0.0"/>
<unit id="slf4j.api" version="0.0.0"/>
<unit id="slf4j.api.source" version="0.0.0"/>
<repository location="http://repository.foodauthent.net/p2/p2-maven-1.0.1-SNAPSHOT"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.openchrom.knime.node.nmr.feature.feature.group" version="0.0.0"/>
<repository location="https://update.openchrom.net/repositories/knime"/>
</location>
</locations>
</target>
