<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Equinox-Oxygen" sequenceNumber="74">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="net.openchrom.csd.converter.supplier.agilent.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.cdf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.ezchrom.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.finnigan.dat.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.finnigan.raw.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.labjack.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.masshunter.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.moduvision.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.perkinelmer.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.shimadzu.gc10.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.shimadzu.gcd.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.varian.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.absciex.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.agilent.hp.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.agilent.icp.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.bruker.flex.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.cdf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.chromtech.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.cms.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.cgm.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.element.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.icis.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.itds.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.its40.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.mat.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.raw.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.leco.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.masshunter.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.mgf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.nist.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.pdf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.lcd.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.qgd.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.qp5000.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.spc.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.varian.sms.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.varian.xms.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.vg.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.waters.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.nmr.converter.supplier.bruker.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.nmr.converter.supplier.jcampdx.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.pcr.converter.supplier.egu.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.pcr.converter.supplier.ixo.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.rcp.compilation.community.converter.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.abif.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.absciex.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.agilent.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.camag.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.chromulan.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xir.converter.supplier.csv.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xir.converter.supplier.nicolet.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xxd.converter.supplier.dataapex.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xxd.converter.supplier.massfinder.feature.feature.group" version="0.0.0"/>
<repository location="https://update.openchrom.net/repositories/community/latest/converter"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.knime.features.explorer.serverspace.feature.group" version="0.0.0"/>
<unit id="org.knime.features.base.feature.group" version="0.0.0"/>
<unit id="org.knime.features.base.source.feature.group" version="0.0.0"/>
<unit id="org.knime.features.python2.feature.group" version="0.0.0"/>
<unit id="org.knime.features.python2.source.feature.group" version="0.0.0"/>
<repository location="http://update.knime.com/analytics-platform/3.6"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="net.openchrom.platform.feature.feature.group" version="0.0.0"/>
<repository location="https://update.openchrom.net/repositories/community/latest/platform"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.fasterxml.jackson.feature.feature.group" />
<unit id="com.fasterxml.jackson.feature.source.feature.group" />
<unit id="io.swagger.feature.feature.group" version="0.0.0"/>
<unit id="io.swagger.feature.source.feature.group" version="0.0.0"/>
<unit id="org.apache.httpcomponents.feature.group" version="0.0.0"/>
<unit id="org.apache.httpcomponents.source.feature.group" version="0.0.0"/>
<unit id="org.elasticsearch.client.feature.feature.group" version="0.0.0"/>
<unit id="org.glassfish.jersey.feature.feature.group" version="0.0.0"/>
<unit id="org.glassfish.jersey.feature.source.feature.group" version="0.0.0"/>
<unit id="org.junit.feature.group" version="0.0.0"/>
<unit id="org.junit.source.feature.group" version="0.0.0"/>
<unit id="org.scala-lang.feature.feature.group" version="0.0.0"/>
<unit id="org.scala-lang.feature.source.feature.group" version="0.0.0"/>
<unit id="org.slf4j.feature.feature.group" version="0.0.0"/>
<unit id="org.slf4j.feature.source.feature.group" version="0.0.0"/>
<repository location="http://repository.foodauthent.net/p2/p2-maven-1.0.0-SNAPSHOT"/>
</location>
</locations>
</target>
