<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Equinox-Oxygen" sequenceNumber="125">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="net.openchrom.csd.converter.supplier.agilent.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.cdf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.ezchrom.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.finnigan.dat.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.finnigan.raw.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.labjack.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.masshunter.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.moduvision.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.perkinelmer.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.shimadzu.gc10.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.shimadzu.gcd.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.varian.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.absciex.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.agilent.hp.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.agilent.icp.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.bruker.flex.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.cdf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.chromtech.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.cms.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.cgm.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.element.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.icis.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.itds.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.its40.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.mat.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.raw.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.leco.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.masshunter.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.mgf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.nist.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.pdf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.lcd.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.qgd.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.qp5000.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.spc.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.varian.sms.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.varian.xms.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.vg.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.waters.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.nmr.converter.supplier.bruker.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.nmr.converter.supplier.jcampdx.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.pcr.converter.supplier.egu.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.pcr.converter.supplier.ixo.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.rcp.compilation.community.converter.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.abif.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.absciex.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.agilent.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.camag.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.chromulan.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xir.converter.supplier.csv.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xir.converter.supplier.nicolet.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xxd.converter.supplier.dataapex.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xxd.converter.supplier.massfinder.feature.feature.group" version="0.0.0"/>
<repository location="https://update.openchrom.net/repositories/community/latest/converter"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.knime.features.enterprise.client.exampleserver.feature.group" version="3.6.0.v201810020730"/>
<unit id="com.knime.features.enterprise.client.feature.group" version="4.7.2.v201810241600"/>
<unit id="com.knime.features.enterprise.server.rest.feature.group" version="4.7.0.v201810251948"/>
<unit id="com.knime.features.enterprise.server.ws.client.feature.group" version="4.7.2.v201809270902"/>
<unit id="com.knime.features.enterprise.slave.feature.group" version="4.7.2.v201809270902"/>
<unit id="com.knime.features.explorer.serverspace.feature.group" version="4.7.0.v201810251948"/>
<unit id="com.knime.features.licenses.feature.group" version="5.7.1.v201809270904"/>
<unit id="com.knime.features.pmml.compilation.java.jario.feature.group" version="3.6.0.v201807241323"/>
<unit id="com.knime.features.reportbatch.feature.group" version="3.9.0.v201805031004"/>
<unit id="com.knime.features.reporting.designer.feature.group" version="3.6.0.v201807060750"/>
<unit id="com.knime.features.reporting.runtime.feature.group" version="3.6.0.v201806121322"/>
<unit id="com.knime.features.workbench.repository.custom.feature.group" version="3.9.0.v201805031003"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.4.0.v20170516-2248"/>
<unit id="org.eclipse.ecf.core.feature.source.feature.group" version="1.4.0.v20170516-2248"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.0.v20170110-1317"/>
<unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="1.1.0.v20170110-1317"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.13.8.v20170715-2257"/>
<unit id="org.eclipse.ecf.filetransfer.feature.source.feature.group" version="3.13.8.v20170715-2257"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.13.8.v20170715-2257"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.source.feature.group" version="3.13.8.v20170715-2257"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.0.v20170110-1317"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.source.feature.group" version="1.1.0.v20170110-1317"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.0.v20170110-1317"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.source.feature.group" version="1.1.0.v20170110-1317"/>
<unit id="org.knime.features.base.feature.group" version="3.6.2.v201811051556"/>
<unit id="org.knime.features.base.filehandling.feature.group" version="3.6.2.v201811051631"/>
<unit id="org.knime.features.base.pmml.feature.group" version="3.6.0.v201805031003"/>
<unit id="org.knime.features.base.pmml.translation.feature.group" version="3.6.0.v201805170925"/>
<unit id="org.knime.features.base.pmml2.feature.group" version="3.6.0.v201805031003"/>
<unit id="org.knime.features.base.source.feature.group" version="3.6.2.v201811051556"/>
<unit id="org.knime.features.base.widedata.feature.group" version="3.6.0.v201806191010"/>
<unit id="org.knime.features.bigdata.connectors.feature.group" version="3.6.2.v201811051556"/>
<unit id="org.knime.features.build.feature.group" version="3.6.2.v201811051556"/>
<unit id="org.knime.features.chem.types.feature.group" version="3.6.0.v201805030956"/>
<unit id="org.knime.features.cluster.feature.group" version="3.6.0.v201808291202"/>
<unit id="org.knime.features.datageneration.feature.group" version="3.6.0.v201805030958"/>
<unit id="org.knime.features.distmatrix.feature.group" version="3.6.0.v201805030959"/>
<unit id="org.knime.features.expressions.feature.group" version="3.6.2.v201811051557"/>
<unit id="org.knime.features.ext.exttool.feature.group" version="3.6.0.v201805031001"/>
<unit id="org.knime.features.ext.itemset.feature.group" version="3.6.0.v201805031001"/>
<unit id="org.knime.features.ext.jep.feature.group" version="3.6.2.v201811051557"/>
<unit id="org.knime.features.ext.jfreechart.feature.group" version="3.6.0.v201805031002"/>
<unit id="org.knime.features.ext.libsvm.feature.group" version="3.6.0.v201805031009"/>
<unit id="org.knime.features.ext.lucene.feature.group" version="3.6.0.v201805071222"/>
<unit id="org.knime.features.ext.md.feature.group" version="3.6.0.v201805031004"/>
<unit id="org.knime.features.ext.perl.feature.group" version="3.6.0.v201805031003"/>
<unit id="org.knime.features.ext.svg.feature.group" version="3.6.2.v201811051558"/>
<unit id="org.knime.features.ext.webservice.client.feature.group" version="3.6.0.v201807090906"/>
<unit id="org.knime.features.ext.webservice.client.ppilot.feature.group" version="3.6.0.v201805031010"/>
<unit id="org.knime.features.externals.feature.group" version="3.6.0.v201808300856"/>
<unit id="org.knime.features.jpmml.feature.group" version="3.6.0.v201805071222"/>
<unit id="org.knime.features.js.quickforms.feature.group" version="3.6.2.v201811051557"/>
<unit id="org.knime.features.js.views.feature.group" version="3.6.2.v201811051557"/>
<unit id="org.knime.features.json.feature.group" version="3.6.1.v201808311614"/>
<unit id="org.knime.features.json.source.feature.group" version="3.6.1.v201808311614"/>
<unit id="org.knime.features.mongodb.feature.group" version="3.6.0.v201805312006"/>
<unit id="org.knime.features.neighborgram.feature.group" version="3.6.0.v201805031002"/>
<unit id="org.knime.features.network.distmatrix.feature.group" version="3.6.0.v201801101346"/>
<unit id="org.knime.features.network.feature.group" version="3.6.1.v201808311614"/>
<unit id="org.knime.features.optimization.feature.group" version="3.6.0.v201805181414"/>
<unit id="org.knime.features.personalproductivity.feature.group" version="3.6.1.v201808311614"/>
<unit id="org.knime.features.python2.feature.group" version="3.6.2.v201811051558"/>
<unit id="org.knime.features.python2.source.feature.group" version="3.6.2.v201811051558"/>
<unit id="org.knime.features.r.feature.group" version="3.6.1.v201808311614"/>
<unit id="org.knime.features.rest.feature.group" version="3.6.0.v201806251157"/>
<unit id="org.knime.features.scm.git.feature.group" version="3.6.0.v201805311807"/>
<unit id="org.knime.features.sdk.feature.group" version="3.6.1.v201811051556"/>
<unit id="org.knime.features.semanticweb.feature.group" version="3.6.0.v201805031005"/>
<unit id="org.knime.features.virtual.feature.group" version="3.6.0.v201805031010"/>
<unit id="org.knime.features.wizard.feature.group" version="3.6.0.v201805030959"/>
<unit id="org.knime.features.xml.feature.group" version="3.6.0.v201805031010"/>
<unit id="org.knime.product.desktop" version="3.6.2.v201811051557"/>
<unit id="org.knime.product.desktop.feature.group" version="3.6.2.v201811051557"/>
<unit id="org.knime.targetPlatform.feature.group" version="3.6.0.v201808300856"/>
<repository location="http://update.knime.com/analytics-platform/3.6"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="net.openchrom.platform.feature.feature.group" version="0.0.0"/>
<repository location="https://update.openchrom.net/repositories/community/latest/platform"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.jaxrs.feature.feature.group" version="1.0.1.201901151222"/>
<unit id="com.fasterxml.jackson.feature.feature.group" version="2.9.7.20190115131752"/>
<unit id="com.fasterxml.jackson.feature.source.feature.group" version="2.9.7.20190115131752"/>
<unit id="com.knime.features.enterprise.client.feature.group" version="4.7.2.v201810241600"/>
<unit id="com.knime.features.enterprise.server.ws.client.feature.group" version="4.7.2.v201809270902"/>
<unit id="com.knime.features.explorer.serverspace.feature.group" version="4.7.0.v201810251948"/>
<unit id="com.typesafe.feature.feature.group" version="1.3.3.20190115131752"/>
<unit id="com.typesafe.feature.source.feature.group" version="1.3.3.20190115131752"/>
<unit id="io.minio.feature.feature.group" version="5.0.3.20190115131752"/>
<unit id="io.swagger.feature.feature.group" version="1.5.20.20190115131752"/>
<unit id="io.swagger.feature.source.feature.group" version="1.5.20.20190115131752"/>
<unit id="net.openchrom.converter.feature.feature.group" version="1.0.1.201901151222"/>
<unit id="net.openchrom.platform.feature.feature.group" version="1.0.1.201901151222"/>
<unit id="org.apache.commons.feature.feature.group" version="1.1.0.20190115131752"/>
<unit id="org.apache.commons.feature.source.feature.group" version="1.1.0.20190115131752"/>
<unit id="org.apache.httpcomponents.feature.feature.group" version="4.4.10.20190115131752"/>
<unit id="org.apache.httpcomponents.feature.source.feature.group" version="4.4.10.20190115131752"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.2.v20180210-1608"/>
<unit id="org.eclipse.draw2d.feature.group" version="3.10.100.201606061308"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="1.6.3.v20180329-0507"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.4.0.v20170516-2248"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.0.v20170110-1317"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.13.8.v20170715-2257"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.13.8.v20170715-2257"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.0.v20170110-1317"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.0.v20170110-1317"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.13.0.v20170609-0707"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.13.0.v20170609-0707"/>
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.13.1.v20170811-1407"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.4.2.v20180210-1608"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.7.2.v20171108-1834"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.4.1.v20170928-1405"/>
<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.3.1.v20170928-1405"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.3.2.v20171108-1343"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.3.2.v20171108-1343"/>
<unit id="org.eclipse.equinox.server.core.feature.group" version="1.5.3.v20180210-1608"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.4.4.v20180322-2228"/>
<unit id="org.eclipse.gef.feature.group" version="3.11.0.201606061308"/>
<unit id="org.eclipse.help.feature.group" version="2.2.104.v20180330-0640"/>
<unit id="org.eclipse.jdt.junit5.runtime.feature.feature.group" version="1.0.200.20181210094623"/>
<unit id="org.eclipse.platform.feature.group" version="4.7.3.v20180330-0640"/>
<unit id="org.eclipse.rcp.feature.group" version="4.7.3.v20180330-0640"/>
<unit id="org.elasticsearch.client.feature.feature.group" version="6.5.2.20190115131752"/>
<unit id="org.foodauthent.dependencies.feature.feature.group" version="1.0.1.201901151222"/>
<unit id="org.foodauthent.knime.dependencies.feature.feature.group" version="1.0.1.201901151222"/>
<unit id="org.glassfish.hk2.feature.feature.group" version="2.5.0.20190115131752"/>
<unit id="org.glassfish.hk2.feature.source.feature.group" version="2.5.0.20190115131752"/>
<unit id="org.glassfish.jersey.feature.feature.group" version="2.27.0.20190115131752"/>
<unit id="org.glassfish.jersey.feature.source.feature.group" version="2.27.0.20190115131752"/>
<unit id="org.joda.time.feature.feature.group" version="2.10.1.20190115131752"/>
<unit id="org.joda.time.feature.source.feature.group" version="2.10.1.20190115131752"/>
<unit id="org.knime.features.base.feature.group" version="3.6.2.v201811051556"/>
<unit id="org.knime.features.base.source.feature.group" version="3.6.2.v201811051556"/>
<unit id="org.knime.features.externals.feature.group" version="3.6.0.v201808300856"/>
<unit id="org.knime.features.json.feature.group" version="3.6.1.v201808311614"/>
<unit id="org.knime.features.json.source.feature.group" version="3.6.1.v201808311614"/>
<unit id="org.knime.features.python2.feature.group" version="3.6.2.v201811051558"/>
<unit id="org.knime.features.python2.source.feature.group" version="3.6.2.v201811051558"/>
<unit id="org.scala-lang.feature.feature.group" version="2.12.3.20190115131752"/>
<unit id="org.scala-lang.feature.source.feature.group" version="2.12.3.20190115131752"/>
<unit id="org.slf4j.feature.feature.group" version="1.7.25.20190115131752"/>
<unit id="org.slf4j.feature.source.feature.group" version="1.7.25.20190115131752"/>
<repository location="http://repository.foodauthent.net/p2/foodauthent-dependencies-1.0.1-SNAPSHOT/"/>
</location>
</locations>
</target>
