{{>licenseInfo}}
package {{package}};

import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.Context;
import javax.ws.rs.core.SecurityContext;
import org.foodauthent.auth.security.SecurityScheme;

{{#imports}}
import {{import}};
{{/imports}}

{{#operations}}
import org.foodauthent.api.{{baseName}}Service;
import org.foodauthent.api.ServiceRegistry;

import org.foodauthent.common.exception.FAExceptions;

{{#appName}}
/**
 * {{{appName}}}
 *
 {{#appDescription}}
 * <p>{{{appDescription}}}
 {{/appDescription}}
 *
 * <p> {{tagDescription}}
 *
 {{>authors}}
 */
{{/appName}}
@Path("{{contextPath}}")
{{#addConsumesProducesJson}}
@Consumes(MediaType.APPLICATION_JSON)
@Produces(MediaType.APPLICATION_JSON)
{{/addConsumesProducesJson}}
{{>generatedAnnotation}}
public interface {{classname}}{

{{#operation}}

    /**
     {{#notes}}
     * {{.}}
     {{/notes}}
     *
     {{#allParams}}
     * @param {{paramName}} {{description}}
     {{/allParams}}
     * @return the response
     */
    @{{httpMethod}}
    @Path("{{{path}}}")
{{#hasAuthMethods}}
	@SecurityScheme({ {{#authMethods}}"{{{name}}}"{{#hasMore}}, {{/hasMore}}{{/authMethods}} })
{{/hasAuthMethods}}
{{#hasConsumes}}
    @Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} })
{{/hasConsumes}}
{{#hasProduces}}
    @Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} })
{{/hasProduces}}
    public Response {{nickname}}({{#allParams}}{{>rest/queryParams}}{{>rest/pathParams}}{{>rest/headerParams}}{{>rest/bodyParams}}{{>rest/formParams}}{{^-last}}, {{/-last}}{{/allParams}});
{{/operation}}
}
{{/operations}}

