<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Equinox-Oxygen" sequenceNumber="10">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.2.v20180210-1608"/>
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.13.1.v20170811-1407"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.7.2.v20171108-1834"/>
<unit id="org.eclipse.equinox.server.core.feature.group" version="1.5.3.v20180210-1608"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.4.4.v20180322-2228"/>
<repository location="http://repository.foodauthent.net/p2/equinox-SDK-Oxygen.3a/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
<unit id="ch.qos.logback.slf4j" version="1.1.2.v20160301-0943"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.7.v201505121915"/>
<unit id="ch.qos.logback.slf4j.source" version="1.1.2.v20160301-0943"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations.source" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.core.jackson-core.source" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.core.jackson-databind.source" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava.source" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base.source" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider.source" version="2.6.2.v20161117-2150"/>
<unit id="com.sun.jersey" version="1.17.0.v201503170330"/>
<unit id="com.sun.jersey.source" version="1.17.0.v201503170330"/>
<unit id="org.glassfish.jersey.apache.connector" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.apache.connector.source" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.containers.servlet" version="2.22.1.v20161103-0227"/>
<unit id="org.glassfish.jersey.containers.servlet.core" version="2.22.1.v20161103-0227"/>
<unit id="org.glassfish.jersey.containers.servlet.core.source" version="2.22.1.v20161103-0227"/>
<unit id="org.glassfish.jersey.containers.servlet.source" version="2.22.1.v20161103-0227"/>
<unit id="org.glassfish.jersey.core.jersey-client" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.core.jersey-client.source" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.media.jersey-media-json-jackson" version="2.22.1.v20161117-2005"/>
<unit id="org.glassfish.jersey.media.jersey-media-json-jackson.source" version="2.22.1.v20161117-2005"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.api" version="1.7.10.v20170428-1633"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.api.source" version="1.7.10.v20170428-1633"/>
<unit id="org.slf4j.apis.log4j" version="1.7.10.v20160208-0839"/>
<unit id="org.slf4j.apis.log4j.source" version="1.7.10.v20160208-0839"/>
<unit id="org.slf4j.binding.nop" version="1.7.10.v20160301-1109"/>
<unit id="org.slf4j.binding.nop.source" version="1.7.10.v20160301-1109"/>
<unit id="org.slf4j.binding.simple" version="1.7.10.v20160301-1109"/>
<unit id="org.slf4j.binding.simple.source" version="1.7.10.v20160301-1109"/>
<unit id="org.slf4j.bridge.jul" version="1.7.10.v20160208-0839"/>
<unit id="org.slf4j.bridge.jul.source" version="1.7.10.v20160208-0839"/>
<unit id="org.slf4j.ext" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.ext" version="1.7.10.v20170224-1220"/>
<unit id="org.slf4j.ext.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.ext.source" version="1.7.10.v20170224-1220"/>
<unit id="org.slf4j.impl.log4j12" version="1.7.2.v20131105-2200"/>
<unit id="org.slf4j.impl.log4j12.source" version="1.7.2.v20131105-2200"/>
<unit id="org.slf4j.jcl" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.jcl.source" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.jul" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jul.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.log4j.source" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.nop" version="1.7.2.v201212060727"/>
<unit id="org.slf4j.nop.source" version="1.7.2.v201212060727"/>
<repository location="http://repository.foodauthent.net/p2/orbit-R20180330011457/"/>
</location>
</locations>
</target>
