<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="FoodAuthent Equinox-Oxygen" sequenceNumber="80">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.jaxrs.feature.feature.group" version="0.0.0"/>
<unit id="com.fasterxml.jackson.feature.feature.group" version="0.0.0"/>
<unit id="com.fasterxml.jackson.feature.source.feature.group" version="0.0.0"/>
<unit id="com.knime.features.enterprise.client.feature.group" version="0.0.0"/>
<unit id="com.knime.features.enterprise.server.ws.client.feature.group" version="0.0.0"/>
<unit id="com.knime.features.explorer.serverspace.feature.group" version="0.0.0"/>
<unit id="io.swagger.feature.feature.group" version="0.0.0"/>
<unit id="io.swagger.feature.source.feature.group" version="0.0.0"/>
<unit id="net.openchrom.converter.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.platform.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.httpcomponents.feature.group" version="0.0.0"/>
<unit id="org.apache.httpcomponents.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.server.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
<unit id="org.eclipse.help.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<unit id="org.elasticsearch.client.feature.feature.group" version="0.0.0"/>
<unit id="org.foodauthent.dependencies.feature.feature.group" version="0.0.0"/>
<unit id="org.glassfish.jersey.feature.feature.group" version="0.0.0"/>
<unit id="org.glassfish.jersey.feature.source.feature.group" version="0.0.0"/>
<unit id="org.junit.feature.group" version="0.0.0"/>
<unit id="org.knime.features.base.feature.group" version="0.0.0"/>
<unit id="org.knime.features.base.source.feature.group" version="0.0.0"/>
<unit id="org.knime.features.json.feature.group" version="0.0.0"/>
<unit id="org.knime.features.json.source.feature.group" version="0.0.0"/>
<unit id="org.knime.features.python2.feature.group" version="0.0.0"/>
<unit id="org.knime.features.python2.source.feature.group" version="0.0.0"/>
<unit id="org.scala-lang.feature.feature.group" version="0.0.0"/>
<unit id="org.scala-lang.feature.source.feature.group" version="0.0.0"/>
<unit id="org.slf4j.feature.feature.group" version="0.0.0"/>
<unit id="org.slf4j.feature.source.feature.group" version="0.0.0"/>
<repository location="http://repository.foodauthent.net/p2/foodauthent-dependencies-1.0.0-SNAPSHOT/"/>
</location>
</locations>
</target>
